<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>DaoController</servlet-name>
        <servlet-class>controller.DaoController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DaoController</servlet-name>
        <url-pattern>/DaoController</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/appContext-dao.xml</param-value>
    </context-param>
</web-app>
